<!DOCTYPE html>
<html>
  <head>
  	<title>Keywords collector app</title>
    <script src="/vendor/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/vendor/jquery-ui.js" type="text/javascript"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">
              Keywords collector
            </a>

            <ul class="nav">
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Select keyword results here<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  <%@caches.each do |cache|%>
                    <li role="presentation"><a role="menuitem" tabindex="-1" onclick="load_results('<%=cache%>')"><%=cache%></a></li>
                  <%end%>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li><a href="#myModal" role="button" data-toggle="modal">Launch worker</a></li>
            </ul>
        </div>
      </div>
    </div>

	<div class="container">
      <div class="row">
        <div id="launchAlert" class="alert" data-alert="alert" style="top:0;display:none;">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <p><strong>Well done!</strong> results will appear soon.</p>
        </div>
        <div class="span6">
          <h4>List of new questions:</h4>(double click to add to watch list)
          <h5>Keywords: <span id="keywords"></span></h5>
          <ul id="sortable1">
            No Results, please select keyword results above
          </ul>
        </div>
        <h4>List of questions to watch/answer/vote</h4>(double click to remove)
        <div class="span6">
          <ul id="sortable2">
            <%@saved.each do |q|%>
                <li class="ui-state-highlight nice_borders"><%=q%></li>
            <%end%>
          </ul>
        </div>
      </div>
	</div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Launch options</h3>
      </div>
      <div class="modal-body">
        <label>Please input list of comma separated keywords:</label>
        <input id="input_keywords" class="input-xxlarge" type="text" placeholder="rabbitmq, python+celery, message queue, python+workers, python+background">
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" onclick='launch_worker()'>Launch it!</button>
      </div>
    </div>
  </body>
</html>
<script>
    $(function() {

        $("#sortable1").on('dblclick','li',function() {
            $(this).appendTo('#sortable2');
            $.post('/store_question',{q: $(this).html()});
        });

        $("#sortable2").on('dblclick','li',function() {
            if (confirm('Are you sure?')){
                $.post('/remove_question',{q: $(this).html()});
                $(this).remove();
            }
        });

    });
        function launch_worker(){
            k = $("#input_keywords").val();
            $.post('/queue_worker',{keywords: k});
            $('#myModal').modal('hide');
            $('#launchAlert').show();
        }
        function load_results(cache){
            $.getJSON('/cache_details?cache='+cache, function(data) {
                $('#keywords').html(data.join());
            });
            $.getJSON('/cache_results?cache='+cache, function(data) {
                $('#sortable1').html('');
                $.each(data,function(index, value) {
                    source_link = " via <a target='_blank' href='" + value["link"] + "'>" + value["source"] + "</a>"
                    $('#sortable1').append('<li class="ui-state-highlight-pre nice_borders">' + value["title"] + source_link + '</li>');
                });

            });
        }

</script>